.settingPanel {
  position: relative;
}
.settingPanel:global(.p-card) :global(.p-card-content) {
  padding: 1rem;
}
.settingPanel .content {
  display: block;
}
.settingPanel .saveButton {
  margin-left: auto;
  display: flex;
}
