@import "mixins";

.workingHoursPlanner {

  ul {

    &.sliders {
      padding-bottom: 2rem;
    }

    li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      :global(.label) {
        width: 110px;
        font-weight: 600;

        :global(.total-time-wrapper) {
          display: block;
          font-size: 10px;
          color: grey;
          font-weight: 400;
        }
      }

      :global(.intervals) {
        margin-right: 10px;

        label {
          display: block;
          font-size: 12px;
          font-weight: 600;
        }

        input {
          width: 40px;
          padding-right: 0;
        }
      }
    }

    :global(.noUi-horizontal) {
      height: 6px;
      box-shadow: none;
      border: none;

      &[disabled] {
        :global(.noUi-handle) {
          cursor: not-allowed;
          display: none;
        }

        :global(.noUi-connect) {
          display: none;
        }

        :global(.noUi-tooltip) {
          display: none !important;
        }
      }

      :global(.noUi-connects) {
        background: var(--bluegray-100);
      }

      :global(.noUi-handle) {
        height: 16px;
        cursor: grab;
        width: 16px;
        right: -7px;
        border-radius: 20px;
        background: var(--primary-color);
        border: none;
        box-shadow: none;
        top: -5px;

        &:global(.noUi-active) {
          cursor: grabbing;
        }

        &:before,
        &:after {
          display: none;
        }

        &:focus {
          background: var(--blue-800);
        }
      }

      :global(.noUi-pips-horizontal) {
        padding: 26px 0 !important;
      }
    }

    :global(.noUi-target) {
      border-radius: 0;
      flex: 1;
    }

    :global(.noUi-tooltip) {
      padding: 0;
      color: var(--text-color);
      top: 10px;
      border: none;
      font-size: 12px;
      font-weight: 900;
    }

    :global(.noUi-connect) {
      background: var(--primary-color);
    }
  }

  :global(.intervals-margins) {
    display: flex;
    align-items: flex-end;
  }

  .exDates {
    :global(.p-highlight) {
      color: white !important;
      background: @color_Bloody !important;
    }

    :global(.calendar) {
      & > * {
        transition: none !important;
      }

      :global(.months-container) {
        opacity: 1 !important;
      }
    }

    :global(.p-datepicker-inline) {
      padding: 0 !important;
      border: none !important;

      :global(.p-datepicker-group-container) {
        flex-wrap: wrap !important;

        :global(.p-datepicker-group) {
          border: none !important;
          flex: 1 0 25%;

          &:first-child {
            padding-left: 0.5rem !important;
          }

          &:last-child {
            padding-right: 0.5rem !important;
          }

          :global(.p-datepicker-prev),
          :global(.p-datepicker-next) {
            display: none !important;
          }

          table {
            font-size: 0.85rem !important;

            td {
              padding: 0.1rem !important;

              > span {
                width: 2rem !important;
                height: 2rem !important;
              }
            }
          }
        }
      }
    }

  }

  .exDateTag {
    color: white !important;
    background: @color_Bloody !important;
    padding: 0.5rem;
    border-radius: 3px;
  }

  .exDateTags {
    margin: 0;
    padding: 0 1rem;
  }

}