.workingHoursPlanner ul.sliders {
  padding-bottom: 2rem;
}
.workingHoursPlanner ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.workingHoursPlanner ul li :global(.label) {
  width: 110px;
  font-weight: 600;
}
.workingHoursPlanner ul li :global(.label) :global(.total-time-wrapper) {
  display: block;
  font-size: 10px;
  color: grey;
  font-weight: 400;
}
.workingHoursPlanner ul li :global(.intervals) {
  margin-right: 10px;
}
.workingHoursPlanner ul li :global(.intervals) label {
  display: block;
  font-size: 12px;
  font-weight: 600;
}
.workingHoursPlanner ul li :global(.intervals) input {
  width: 40px;
  padding-right: 0;
}
.workingHoursPlanner ul :global(.noUi-horizontal) {
  height: 6px;
  box-shadow: none;
  border: none;
}
.workingHoursPlanner ul :global(.noUi-horizontal)[disabled] :global(.noUi-handle) {
  cursor: not-allowed;
  display: none;
}
.workingHoursPlanner ul :global(.noUi-horizontal)[disabled] :global(.noUi-connect) {
  display: none;
}
.workingHoursPlanner ul :global(.noUi-horizontal)[disabled] :global(.noUi-tooltip) {
  display: none !important;
}
.workingHoursPlanner ul :global(.noUi-horizontal) :global(.noUi-connects) {
  background: var(--bluegray-100);
}
.workingHoursPlanner ul :global(.noUi-horizontal) :global(.noUi-handle) {
  height: 16px;
  cursor: grab;
  width: 16px;
  right: -7px;
  border-radius: 20px;
  background: var(--primary-color);
  border: none;
  box-shadow: none;
  top: -5px;
}
.workingHoursPlanner ul :global(.noUi-horizontal) :global(.noUi-handle):global(.noUi-active) {
  cursor: grabbing;
}
.workingHoursPlanner ul :global(.noUi-horizontal) :global(.noUi-handle):before,
.workingHoursPlanner ul :global(.noUi-horizontal) :global(.noUi-handle):after {
  display: none;
}
.workingHoursPlanner ul :global(.noUi-horizontal) :global(.noUi-handle):focus {
  background: var(--blue-800);
}
.workingHoursPlanner ul :global(.noUi-target) {
  border-radius: 0;
  flex: 1;
}
.workingHoursPlanner ul :global(.noUi-tooltip) {
  padding: 0;
  color: var(--text-color);
  top: 10px;
  border: none;
  font-size: 12px;
  font-weight: 900;
}
.workingHoursPlanner ul :global(.noUi-connect) {
  background: var(--primary-color);
}
.workingHoursPlanner :global(.intervals-margins) {
  display: flex;
  align-items: flex-end;
}
.workingHoursPlanner .exDates :global(.p-highlight) {
  color: white !important;
  background: #b92f37 !important;
}
.workingHoursPlanner .exDates :global(.calendar) > * {
  transition: none !important;
}
.workingHoursPlanner .exDates :global(.calendar) :global(.months-container) {
  opacity: 1 !important;
}
.workingHoursPlanner .exDates :global(.p-datepicker-inline) {
  padding: 0 !important;
  border: none !important;
}
.workingHoursPlanner .exDates :global(.p-datepicker-inline) :global(.p-datepicker-group-container) {
  flex-wrap: wrap !important;
}
.workingHoursPlanner .exDates :global(.p-datepicker-inline) :global(.p-datepicker-group-container) :global(.p-datepicker-group) {
  border: none !important;
  flex: 1 0 25%;
}
.workingHoursPlanner .exDates :global(.p-datepicker-inline) :global(.p-datepicker-group-container) :global(.p-datepicker-group):first-child {
  padding-left: 0.5rem !important;
}
.workingHoursPlanner .exDates :global(.p-datepicker-inline) :global(.p-datepicker-group-container) :global(.p-datepicker-group):last-child {
  padding-right: 0.5rem !important;
}
.workingHoursPlanner .exDates :global(.p-datepicker-inline) :global(.p-datepicker-group-container) :global(.p-datepicker-group) :global(.p-datepicker-prev),
.workingHoursPlanner .exDates :global(.p-datepicker-inline) :global(.p-datepicker-group-container) :global(.p-datepicker-group) :global(.p-datepicker-next) {
  display: none !important;
}
.workingHoursPlanner .exDates :global(.p-datepicker-inline) :global(.p-datepicker-group-container) :global(.p-datepicker-group) table {
  font-size: 0.85rem !important;
}
.workingHoursPlanner .exDates :global(.p-datepicker-inline) :global(.p-datepicker-group-container) :global(.p-datepicker-group) table td {
  padding: 0.1rem !important;
}
.workingHoursPlanner .exDates :global(.p-datepicker-inline) :global(.p-datepicker-group-container) :global(.p-datepicker-group) table td > span {
  width: 2rem !important;
  height: 2rem !important;
}
.workingHoursPlanner .exDateTag {
  color: white !important;
  background: #b92f37 !important;
  padding: 0.5rem;
  border-radius: 3px;
}
.workingHoursPlanner .exDateTags {
  margin: 0;
  padding: 0 1rem;
}
