.item {
  padding: 2px;
  line-height: 1;
  display: flex;
}
.item .dot {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50px;
  flex-shrink: 0;
  margin-top: 3px;
}
.item .label:not(:empty) {
  font-size: 10px;
  font-weight: 600;
  color: #9B9B9B;
}
