.formContainer {
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
  font-size: 14px;
  padding: 24px;
}
.formContainer .fieldContainer .fieldLabel {
  font-weight: 600;
  display: block;
}
.formContainer .fieldContainer .fieldDescription {
  font-size: 12px;
  margin: 4px 0 0;
  color: #2B2B2B;
}
.formContainer .fieldContainer .inputGroup .fieldContainer {
  padding: 0;
}
.formContainer .actions {
  display: flex;
  justify-content: flex-end;
}
.formContainer .actions > .actionButton {
  margin-left: 10px;
}
.formContainer .actions > .actionButton .priceLabel {
  margin-left: 0.5rem;
  opacity: 0.7;
}
